/* Content grid. */
.content {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

/* Class for all icons. */
.icon {
  width: 2em;
  margin: .5em;
}

/* For the links.  */
.main>.content>a {
  color: white;
}
