form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.divider {
  margin: 1em;
  padding: 0px;
}

textarea {
  width: 50vw;
  min-height: 10em;
  resize: vertical;
}
