@import url("https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;

  color-scheme: only dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

/* For inline code, or just some markup. */
.code {
  font-family: Hack, monospace;
  border-color: darkgray;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

/* Header bar style. */
header {
  background-color: gray;
  display: flex;
  margin: 0.5em;
  border-radius: 2px;
}

header>* {
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 2px;
}

header>*:hover {
  transition: .5s ease;
  background-color: white;
  color: black;
  padding: 0.3em;
  font-size: 1.1em;
}

/* Stuff on the bottom of the page. */
footer {
  width: 100%;
  font-size: 0.5em;
  position: absolute;
  bottom: 0;
  color: darkgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

footer>* {
  color: white;
  margin: 1em;
}

/* Main content default style.  */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50vh;
}

.main>p {
  margin: 0;
  padding: 0 1em 0 1em;
}
